<div class="patient-info">
    <table ng-switch="encounterDrugOrderMap!=null">
        <tr>
            <td>{{'PATIENT_INFO_NAME' | translate}}: <span class="value">{{patient.name}}</span></td>
            <td>{{'PATIENT_INFO_AGE' | translate}}: <span class="value">
                {{patient.birthdate | dateToAge:visit.dateStarted}}
                ({{patient.genderText.substring(6, patient.genderText.length - 7)}})
            </span></td>
            <td>{{'PATIENT_INFO_REG_NO' | translate}}: <span class="value">{{patient.identifier}}</span></td>
        </tr>
        <tr>
            <td>{{'PATIENT_INFO_VILLAGE' | translate}}: <span class="value">{{patient.address.cityVillage}}</span></td>
            <td>{{'PATIENT_INFO_LOCALITY' | translate}}: <span class="value">{{patient.address.address2}}</span></td>
            <td>{{'PATIENT_INFO_DISTRICT' | translate}}\: <span class="value">{{patient.address.countyDistrict}}</span></td>
        </tr>
        <tr ng-switch-when="true">
            <td colspan="3">{{'PATIENT_INFO_VISIT_DATE' | translate}}: <span class="value">{{(visitDate | bahmniDate) || (visitSummary.startDateTime | bahmniDate)}}</span></td>
        </tr>
        <tr ng-switch-default ng-repeat="section in visitTabConfig.currentTab.sections" ng-if="section.type === 'patientInformation'">
            <td colspan="2">{{'PATIENT_INFO_VISIT_DATE' | translate}}: <span class="value">{{(visitDate | bahmniDate) || (visitSummary.startDateTime | bahmniDate)}}</span></td>
            <td ng-if="!section.config.hideProviderName">{{'PATIENT_INFO_DOCTOR_NAME' | translate}}:
                <span ng-show="providerNames || drugOrders[drugOrders.length-1].provider.name" class="ng-binding">
                    {{providerNames ? providerNames : drugOrders[drugOrders.length-1].provider.name }}
                </span>
            </td>
        </tr>
    </table>
</div>
